<nav class="site-header__nav">
  <ul class="main-navigation">
    <li><a href="#nolink">Inspiration</a></li>
    <li><a href="#nolink"><%= link_to 'Sign up', signup_path %></a></li>
    <li><a href="#nolink"><%= link_to 'Log in', login_path %></a></li>
  </ul>
</nav>
