<nav class="site-header__nav">
  <ul class="main-navigation">
    <li><a href="#nolink">Inspiration</a></li>
    <li><a href="#nolink"><%= link_to 'My account', account_ideas_path %></a></li>
    <li><a href="#nolink">Log out</a></li>
  </ul>
</nav>
